* {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

#container {
    display: flex;
    margin-left: 340px;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 3px solid black;
}

.gridItem {
    width: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#btn {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 5px;
}